.u-section-1 .u-sheet-1 {
  min-height: 706px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 9px 0 0;
}

.u-section-1 .u-image-1 {
  width: 431px;
  height: 431px;
  background-image: url("images/IMG_57453.JPG");
  background-position: 50% 0%;
  background-size: cover;
  margin: 12px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1060px;
  margin: -99px auto 20px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 17.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
  --gap: 26px;
  min-height: 249px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 73px;
  width: 73px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  filter: none;
  margin: 6px auto 0 0;
  padding: 15px;
}

.u-section-1 .u-group-1 {
  width: 220px;
  min-height: 170px;
  height: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 73px;
  width: 73px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  filter: none;
  margin: 6px auto 0 0;
  padding: 15px;
}

.u-section-1 .u-group-2 {
  width: 220px;
  min-height: 170px;
  background-size: auto;
  height: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 73px;
  width: 73px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  filter: none;
  margin: 6px auto 0 0;
  padding: 15px;
}

.u-section-1 .u-group-3 {
  width: 220px;
  min-height: 170px;
  background-size: auto;
  height: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-1 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 260px;
  }

  .u-section-1 .u-group-1 {
    width: 174px;
    min-height: 190px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    width: 174px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-3 {
    width: 174px;
    min-height: 190px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 13px);
    grid-template-columns: repeat(2, calc(50% - 13px));
  }

  .u-section-1 .u-group-1 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-1 .u-group-2 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-1 .u-group-3 {
    width: 215px;
    min-height: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -8px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-3 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }
}