.u-section-1 .u-sheet-1 {
  min-height: 729px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 408px;
  filter: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  min-height: 291px;
  background-image: url("images/Screenshot2026-01-02110440.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 332px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 16px;
}

.u-section-1 .u-text-1 {
  margin: 60px 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 43px 0;
}

.u-section-1 .u-image-3 {
  min-height: 367px;
  background-position: 50% 50%;
  background-image: url("images/Screenshot2026-01-02000110.png");
  background-size: cover;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 336px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-2 {
    min-height: 240px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 274px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    min-height: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1562px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-1 .u-image-2 {
    min-height: 368px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    min-height: 464px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1565px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-1 .u-image-2 {
    min-height: 502px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-1 .u-image-2 {
    min-height: 316px;
  }

  .u-section-1 .u-image-3 {
    min-height: 219px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 645px;
}

.u-section-2 .u-accordion-1 {
  margin-top: 93px;
  margin-bottom: 60px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    margin-top: 140px;
  }

  .u-section-2 .u-accordion-link-1 {
    font-size: 1.6666666666666665rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    margin-top: 133px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 797px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 100%;
  margin: 43px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 420px;
  background-image: url("images/Screenshot2026-01-02112002.png");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 340px;
  filter: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-video-1 {
  width: 100%;
  height: 295px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 366px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 394px;
  background-image: url("images/Screenshot2026-01-02111928.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    background-size: cover;
  }

  .u-section-3 .u-image-2 {
    background-size: 133%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1865px;
  }

  .u-section-3 .u-image-1 {
    min-height: 840px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 788px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 645px;
}

.u-section-4 .u-accordion-1 {
  margin-top: 93px;
  margin-bottom: 60px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    margin-top: 140px;
  }

  .u-section-4 .u-accordion-link-1 {
    font-size: 1.6666666666666665rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-accordion-1 {
    margin-top: 133px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 979px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 804px;
  filter: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-video-1 {
  width: 461px;
  height: 768px;
  margin: 1px 32px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 445px;
  filter: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-video-2 {
  width: 478px;
  height: 418px;
  margin: 0 auto -14px 37px;
}

.u-section-5 .u-image-1 {
  min-height: 359px;
  background-image: url("images/Screenshot2026-01-02144256.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 663px;
  }

  .u-section-5 .u-video-1 {
    width: 450px;
    height: 750px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 367px;
  }

  .u-section-5 .u-video-2 {
    width: 471px;
    height: 412px;
    margin-right: 116px;
    margin-left: 65px;
  }

  .u-section-5 .u-image-1 {
    min-height: 296px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1576px;
  }

  .u-section-5 .u-image-1 {
    min-height: 621px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 567px;
  }

  .u-section-5 .u-video-2 {
    width: 340px;
    height: 297px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 391px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 987px;
}

.u-section-6 .u-accordion-1 {
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-6 .u-accordion-1 {
    margin-top: 140px;
  }

  .u-section-6 .u-accordion-link-1 {
    font-size: 1.6666666666666665rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-accordion-1 {
    margin-top: 133px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 799px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 469px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-7 .u-text-1 {
  margin: 10px 24px 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-7 .u-layout-cell-2 {
  order: 0;
  min-height: 242px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 518px;
}

.u-section-7 .u-layout-cell-3 {
  order: 0;
  min-height: 336px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-7 .u-image-2 {
  width: 480px;
  height: 232px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 375px;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 20px 17px;
}

.u-section-7 .u-gallery-1 {
  height: 328px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 428px;
    filter: none;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-7 .u-image-1 {
    width: 40px;
  }

  .u-section-7 .u-layout-cell-3 {
    background-position: 50% 50%;
    filter: none;
    min-height: 362px;
  }

  .u-section-7 .u-image-2 {
    width: 40px;
    height: 19px;
  }

  .u-section-7 .u-layout-cell-4 {
    background-position: 50% 50%;
    background-size: cover;
    filter: none;
    min-height: 370px;
  }

  .u-section-7 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-7 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-7 .u-carousel-item-3 {
    margin-right: initial;
  }

  .u-section-7 .u-carousel-item-4 {
    margin-right: initial;
  }

  .u-section-7 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-7 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1255px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 191px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-7 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1036px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 562px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-7 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-7 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-7 .u-carousel-control-2 {
    right: 3px;
  }
}