.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-1 .u-image-1 {
  height: 342px;
  width: 397px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-image-1 {
    height: 310px;
    width: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-1 .u-image-1 {
    height: 238px;
    width: 276px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 326px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 301px;
}

.u-section-2 .u-accordion-1 {
  width: 800px;
  margin: 1px auto 60px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-accordion-item-2 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 622px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 10px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 19px 512px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 11px 291px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 20px 512px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 10px 256px 0 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 20px 432px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 10px 60px 0 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 20px 431px 0 0;
}

.u-section-2 .u-text-14 {
  margin: 10px 60px 0 0;
}

.u-section-2 .u-accordion-item-3 {
  margin-bottom: 0;
  margin-top: 3px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 824px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-16 {
  margin: 14px 0 0;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-18 {
  margin: 14px 0 0;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-20 {
  margin: 15px 0 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 432px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 211px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 432px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 176px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 352px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 351px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-accordion-link-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-link-2 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    margin-right: 292px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 71px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 292px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 36px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 212px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 211px;
  }

  .u-section-2 .u-accordion-link-3 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    width: 340px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 92px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 92px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 12px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 11px;
  }
}